body{
  /* background-color: #f1f1f1; */
  width: 100%;
  height: 100%;
  background-color:#53787D;
}

nav{
  background-color:#53787D;
  background-color:#eee7da;
  width: 100vw;
  height: 30px;
}

#container{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

body{
  width: 100%;
  height: 100%;
  /* background-color:rgba(73, 10, 10, 0.75); */
}

.title{
  margin-top: 80px;
}

.title h1{
  font-family: 'Ubuntu', sans-serif, bold;
  font-size: 5em;
  color: #fcc377;
}

#buttons-container{
  /* background-color:red; */
  width: 500px;
  margin-top: 40px;
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;  
}

.pop button{
  margin: 10px;
  width: 250px;
  height: 60px;
  border: none;
  background: #fcc377;
  color: black;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
}

 /* modal styles here */
.popup-container{
  /* background-image: url('../image/google-quick-draw.jpg'); */
  background-color: #2D5C81;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 00;
  left: 0;
  /* background-color:goldenrod; */
  color:rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: #2D5C81;
}

.popup{
  background-color:#fcc377;
  max-width: 600px;
  padding: 30px;
  min-width: 550px;
  z-index: 100;
  /* color:#2D5C81; */
  font-style: italic;
  font-size:15px;
  display:flex;
  justify-content: center;
}
.instructions{
  background-color:#fcc377;
  max-width: 600px;
  padding: 30px;
  min-width: 550px;
  z-index: 100;
  color:brown;
  font-family: 'Ubuntu', sans-serif, bold;
  font-size:1.3em;
}
.instructions p{
  margin: 10px;
  line-height: 1.2;
}

.popup input[type = submit]{
  margin-top: 15px;
}

.isvisable{
  visibility:visible !important;
}

.modal-body img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  color:rgb(214, 89, 44);
  font-family: 'Ubuntu', sans-serif, bold;
  font-size:3em;
  margin-bottom: 15px;
  }
  .instructions h2{
    font-size: 2.5em;
    padding-bottom: 5px;
    border-bottom:rgb(214, 89, 44) 5px solid;

  }
  .scoresPopup{
    background-color:#fcc377;
    padding: 40px;
  }
  .table th{
    font-family: 'Ubuntu', sans-serif, bold;
    color: rgb(214, 89, 44);
    font-size: 1.8em;
    padding: 0px 30px;
  }
  .table td{
    font-family: 'Ubuntu', sans-serif, bold;
    color: rgb(214, 89, 44);
    font-size: 1.4em;
    padding: 5px 30px;

  }

  #add-team-input{
    background-color: #f1f1f1;
    border: none;
    width: 80%;
    height: 25px;
    border-radius: 10px;
    padding: 0px 10px;
  }
  .addTeam{
    display: flex;
    justify-content: space-between;
  }
  .start-content{
    width: 50%; 
  }
  #add-team-button{
    border: none;
    background-color:#fcc377;
  }
  #play-button{
    border: none;
    background-color: #2D5C81;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif, bold;
    color: #f1f1f1;
    font-size: 1.3em;
    
  }
  li{
    font-family: 'Ubuntu', sans-serif, bold;
    font-size: 1.6em;
    color: brown;
  }

  body {
    /* background-image: url('../image/Pen.jpg'); */
    background-color: #2D5C81;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-high-contrast-adjust:auto;
  
  }
 
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.team-list-item{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.fas.fa-times-circle{
  border: none;
  background-color: #fcc377;
}
.fa-times-circle{
  font-size: 1em;
}